Repository ruixiaozi/brisk-ioc: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js, eslint --ext .ts

.lintstagedrc.json:

{
   "**/*.js": "eslint --ext .js",
   "**/*.ts": "eslint --ext .ts"
 }

feat(3.0.7): 发布3.0.7
  src/interface/BriskPlugin.ts
Due: eslint --ext .ts

feat(3.0.7): 增加nvmrc
  .dirlintrc.yml
  .nvmrc
  CHANGELOG.md
Due: none

feat(3.0.8): 修复依赖，发布
  CHANGELOG.md
  package.json
  src/core/Core.ts
Due: eslint --ext .ts

feat(3.0.8): 发布3.0.8
  CHANGELOG.md
Due: none

feat(3.0.9): init 3.0.9
  CHANGELOG.md
  package.json
Due: none

feat(0.0.1): 初始化项目
  .commitlintrc.json
  .dirlintrc.yml
  .editorconfig
  .eslintignore
  .eslintrc.js
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .npmignore
  .nvmrc
  .vscode/my.code-snippets
  .vscode/settings.json
  CHANGELOG.md
  LICENSE
  README.md
  example/package.json
  example/src/bean/Test.ts
  example/src/index.ts
  example/src/service/T2.ts
  example/tsconfig.json
  jest.config.ts
  package.json
  src/core/index.ts
  src/decorator/index.ts
  src/index.ts
  test/core.test.ts
  test/decorator.exp.ts
  test/decorator.test.ts
  tsconfig.json
  tsconfig.test.json
Due: eslint --ext .js, eslint --ext .ts

feat(0.0.1): setBean增加通过类目和指定实例的重载
  src/core/index.ts
  src/decorator/index.ts
  test/core.test.ts
Due: eslint --ext .ts

feat(0.0.1): setBean增加重载
  src/core/index.ts
  test/core.test.ts
Due: eslint --ext .ts

fix(0.0.1): 固化依赖版本
  package.json
Due: none

fix(0.0.1): 当添加到容器重复时，以后者为主，可以覆盖前者
  src/core/index.ts
Due: eslint --ext .ts

fix(0.0.1): 修复扫描bean，后缀名判断
  src/core/index.ts
Due: eslint --ext .ts

fix(0.0.1): 修改打印的日志内容
  src/core/index.ts
Due: eslint --ext .ts

fix(0.0.1): 发布0.0.1
  CHANGELOG.md
Due: none

fix(0.0.2): 发布0.0.2
  .dirlintrc.yml
  CHANGELOG.md
  package.json
Due: none

fix(0.0.3): 发布0.0.3
  CHANGELOG.md
  package.json
Due: none

feat(0.0.4): 发布0.0.4
  CHANGELOG.md
  package.json
Due: none

feat(0.0.5): 发布0.0.5
  CHANGELOG.md
  package.json
Due: none

feat(0.0.6): 发布0.0.6
  CHANGELOG.md
  package.json
Due: none

feat(0.0.7): 使用运行时全局变量保存容器对象，发布0.0.7
  CHANGELOG.md
  package.json
  src/core/index.ts
Due: eslint --ext .ts

feat(0.1.0): 发布0.1.0
  CHANGELOG.md
  package.json
Due: none
